<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/ionic/css/ionic.min.css">
    <script src="./bower_components/ionic/js/ionic.bundle.min.js"></script>
    <script src="./app.js"></script>
    <script src="./ctrl.js"></script>
</head>

<body ng-controller="MyCtrl as ctrl">
    <ion-view>
        <div class="bar bar-header bar-light">
            <h1 class="title">bar-light</h1>
        </div>

        <ion-content padding="true">
            <div class="card">
                <div class="item item-text-wrap">
                    This is a basic Card which contains an item that has wrapping text. {{ctrl.text}}
                </div>
            </div>

            <button class="button button-energized" ng-click="ctrl.toggleDelete()">toggle</button>
            <ion-list show-delete="ctrl.showDelete">
                <ion-item ng-repeat="n in ctrl.list">
                    {{n}}
                    <ion-delete-button class="ion-trash-a" ng-click="ctrl.deleteItem($index)">
                    </ion-delete-button>
                    <ion-option-button ng-click="ctrl.share($index)">
                        Share
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</body>

</html>